# Variables

In [1]:
# In python "=" means 'assign' or 'bind to'
x=4

In [2]:
x

4

In [3]:
x = 4
x

4

In [4]:
x, y = 1, 4

In [5]:
x

1

In [6]:
y

4

In [7]:
x, y = (1, 4)

In [8]:
x

1

In [9]:
y

4

In [10]:
w = 6
print (w)

6

In [11]:
x1 = 6
type (x1)

int

In [12]:
x2 = 0.6
type (x2)

float

In [13]:
x3 = 1.4
int (x3)

1

In [14]:
x3 = 1.7
int (x3)

1

In [18]:
x4 = 2
float (x4)

2.0

# Boolean Values

# text values composed of a sequence of characters

In [19]:
x5 = True
type (x5)

bool

# Strings

In [20]:
print ('Amin')

Amin

In [21]:
print ("Amin")

Amin

In [22]:
x7 = 'Amin'
type (x7)

str

In [24]:
y = 10
print (str (y) + ' Dollars')

10 Dollars

In [26]:
y = '10'
print (y + ' Dollars')

10 Dollars

In [27]:
"i'm fine"

"i'm fine"

In [30]:
'i\'m fine'

"i'm fine"

In [31]:
'blue ' 'flower'

'blue flower'

In [32]:
print ('blue' ' flower')

blue flower

In [33]:
print ('blue ' + 'flower')

blue flower

In [34]:
print ('blue' , 'flower')

blue flower

In [35]:
1, 3, 'car', 0.5

(1, 3, 'car', 0.5)

# Arithmethic Operands

# operand, operator, reminder and power

In [1]:
2 + 3

5

In [2]:
2 - 3

-1

In [3]:
2 / 4

0.5

In [4]:
4 / 2

2.0

In [5]:
5 % 2

1

In [6]:
2 ** 3

8

# assign and equals

In [7]:
y = 5 ** 2
y

25

In [8]:
y == 26

False

In [9]:
y == 25

True

# Reassign Value

In [10]:
z = 1
z

1

In [11]:
z = 5
z

5

In [12]:
z + 3

8

# Line Continuation

In [13]:
2 + 3 + 5

10

In [14]:
2 + 3 + \
5

10

# indexing elements

In [15]:
'Monday'

'Monday'

In [16]:
'Monday'[0]

'M'

In [17]:
"Monday"[4]

'a'

# Comparison Operators

In [18]:
10 == 20/2

True

In [19]:
10 == 10/2 + 7

False

In [20]:
# '!=' means not equal
10 != 10

False

In [21]:
10 < 10

False

In [22]:
10 < 12

True

In [23]:
10 <= 10

True

## similarity we have, > and >= operators which compare two numbers

# Logical Operators, NOT - OR - AND

In [27]:
# AND checks whether the two statements around it are true
True and True

True

In [28]:
True and False

False

In [29]:
False and True

False

In [30]:
1<2 and True

True

In [31]:
1<2 and 1<0

False

In [32]:
# OR checks whether at least one of the statemnets is true
True or True

True

In [33]:
True or False

True

In [34]:
False or False

False

In [35]:
# NOT leads to the opposite of the statement
not False

True

In [36]:
not True

False

In [37]:
3 > 5 and 10>=10

False

In [39]:
# Not > And > Or
True and not True

False

In [40]:
False or not True or True

True

In [41]:
True and not True or True

True

# identity operator, is or is not

In [42]:
5 is 6

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\power\AppData\Local\Temp\ipykernel_7964\2929037671.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 6

False

In [43]:
5 == 6

False

In [44]:
5 is not 6

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\power\AppData\Local\Temp\ipykernel_7964\2227521640.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  5 is not 6

True

In [45]:
5 != 6

True

# indentation

In [46]:
def sum_2(x):
    return x + 2

In [47]:
sum_2(3)

5

In [48]:
sum_2(208)

210

# Conditionals in Python

### as its name, Conditionals checks if a statement holds or not

In [49]:
if 5 == 15/3:
    print('ok')

ok

In [50]:
if 5 == 18/3:
    print('not ok')

In [51]:
x = 1

if x > 3:
    print('yes')
if x < 3:
    print('no')

no

### ELSE statement

In [52]:
# we can write the above codes by a shorter syntax:
x = 1

if x >= 3:
    print('yes')
else:
    print('no')

no

### ELIF in conditionals

In [55]:
def compare_5(y):
    if y > 5:
        return 'greater than 5'
    if y < 5:
        return 'smaller than 5'
    else:
        return 'even 5'

In [56]:
compare_5(5)

'even 5'

In [57]:
def compare_5(y):
    if y > 5:
        return 'greater than 5'
    elif y < 5:
        return 'smaller than 5'
    else:
        return 'even 5'

In [58]:
compare_5(7)

'greater than 5'

In [59]:
def compare_5(y):
    if y > 5:
        return 'greater than 5'
    elif y < 0:
        return 'negative'
    elif y < 5:
        return 'smaller than 5'
    else:
        return 'even 5'

In [60]:
print(compare_5(-3))

negative

In [62]:
print(compare_5(4))

smaller than 5

In [63]:
def compare_5(y):
    if y > 5:
        return 'greater than 5'
    elif y < 5:
        return 'smaller than 5'
    elif y < 0:
        return 'negative'
    else:
        return 'even 5'

In [64]:
print(compare_5(-3))

smaller than 5

In [65]:
def compare_5(y):
    if y > 5:
        return 'greater than 5'
    elif 0 < y < 5:
        return 'smaller than 5'
    elif y < 0:
        return 'negative'
    else:
        return 'even 5'

In [66]:
print(compare_5(-3))

negative

In [67]:
print(compare_5(4))

smaller than 5

In [68]:
# the order of statements are very important in conditionals

# Functions in Python

In [1]:
# "def" is a keyword in defining a function in python 

def first_function():
    print('Hola amigos')
    
# def function_name(parameters):
#     function body

In [2]:
first_function()

Hola amigos

In [3]:
# "return" returns a value from the function
# "return" can be used only once in a function
# note when "return" and "print" are used

def plus_two(a):
    return a + 2

In [4]:
# plus_two(arguments). Note that when we say "parameters" and "arguments"
plus_two(3)

5

In [5]:
# name the functions with appropriate names. This indicate the GOOD STYLE of your codes

In [6]:
# we can use "print" and "return" simultaneously
def plus_two(a):
    print('Outcome is equal to:')
    return a + 2

In [7]:
plus_two(3)

Outcome is equal to:

5

In [8]:
# Function in functions

def wage(w_hour):
    return w_hour * 25

def with_bonus(w_hour):
    return wage(w_hour) + 25

In [9]:
wage(8), with_bonus(8)

(200, 225)

In [10]:
def with_bonus2(w_hour):
    return wage(w_hour) + with_bonus(w_hour) + 100

In [12]:
with_bonus2(8)

525

In [13]:
# Using conditionals in functions
def add_ten(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        print('Save more')

In [14]:
add_ten(105)

115

In [15]:
add_ten(99.99999)

Save more

In [16]:
# an example with more than one parameter 
def subtract_bc(a, b, c):
    result = a - b * c
    print('parameter a equals to:', a)
    print('parameter b equals to:', b)
    print('parameter c equals to:', c)
    return result

In [17]:
subtract_bc(1, 2, 3)

parameter a equals to: 1
parameter b equals to: 2
parameter c equals to: 3

-5

In [18]:
subtract_bc(3, 2, 1)

parameter a equals to: 3
parameter b equals to: 2
parameter c equals to: 1

1

In [19]:
subtract_bc(b = 2, c = 3, a = 1)

parameter a equals to: 1
parameter b equals to: 2
parameter c equals to: 3

-5

In [20]:
# built-in functions install automatically with python and you don't need to define them
# built-in functions can be applied directly 
# example of built-in functions 
# type(), int(), float(), str(), ...
# in the next cell you can see same more built-in functions

In [21]:
max(10, 20, 30), min(10, 20, 30), sum([10, 20, 30])

(30, 10, 60)

In [23]:
z = -2
abs(z)
# abs comes from absolute value

2

In [24]:
round(3.444999, 3), round(3.44)
# if round does not have a second argument, its equal to zero

(3.445, 3)

In [25]:
pow(2, 3), 2 ** 3

(8, 8)

In [26]:
len('Mathematics')

11

# Lists in Python

In [1]:
Family1 = ['Mozhgan', 'Maryam', 'Saeid', 'Reza', 'Hassan']
Family2 = ['John', 'Josh', 'Mary', 'David', 'Tara']
Family1

['Mozhgan', 'Maryam', 'Saeid', 'Reza', 'Hassan']

In [2]:
Family2[1]

'Josh'

In [3]:
Family2[4]

'Tara'

In [4]:
Family2[-1], Family2[-2], Family2[-3], Family2[-4], Family2[-5]

('Tara', 'David', 'Mary', 'Josh', 'John')

In [5]:
# removing one item from a list
del Family2[1]
Family2

['John', 'Mary', 'David', 'Tara']

In [6]:
# replacing in lists
Family2[1] = 'Sara'
Family2

['John', 'Sara', 'David', 'Tara']

In [7]:
# .append(add) method
Family2.append('Barak')
Family2

['John', 'Sara', 'David', 'Tara', 'Barak']

In [8]:
# with .extend method we can append a list
Family2.extend(['Donald', 'Hilari'])
Family2

['John', 'Sara', 'David', 'Tara', 'Barak', 'Donald', 'Hilari']

In [9]:
# note that we can only add 'string' values to each other
print('The first family member in family2 is ' + Family2[1] + '.')

The first family member in family2 is Sara.

In [10]:
# len() can give the length of a list to us
len('Hello'), len(Family2)

(5, 7)

In [11]:
# list slicing
Family2[1:3]

['Sara', 'David']

In [12]:
Family2[:3]

['John', 'Sara', 'David']

In [13]:
Family2[4:], Family2[-2:]

(['Barak', 'Donald', 'Hilari'], ['Donald', 'Hilari'])

In [14]:
Family2.index('Barak')

4

In [15]:
# mixing two or more lists
Family3 = ['Leila', 'Hans']
Family = [Family2, Family3]
Family

[['John', 'Sara', 'David', 'Tara', 'Barak', 'Donald', 'Hilari'],
 ['Leila', 'Hans']]

In [17]:
# sorting in lists
Family2.sort()
Family2

['Barak', 'David', 'Donald', 'Hilari', 'John', 'Sara', 'Tara']

In [18]:
Family2.sort(reverse=True)
Family2

['Tara', 'Sara', 'John', 'Hilari', 'Donald', 'David', 'Barak']

# Tuples in Python

In [20]:
# Tuples are a type of data sequence
# BUT unlike the lists, they are immutable (we can not change them)
x = (1, 2, 3)
y = 1, 2, 3
x

(1, 2, 3)

In [21]:
y

(1, 2, 3)

In [22]:
y[0]

1

In [23]:
y[1]

2

In [24]:
y[2]

3

In [25]:
z = (x, y)

In [26]:
z

((1, 2, 3), (1, 2, 3))

In [27]:
# .split method for tuples
(age, year) = '30, 2024'.split(',')
print(age)

30

# Dictionaries in Python

In [38]:
# in each dictionary we have keys and respective values
Friends = {'k1' : 'Amin', 'k2' : 'Majid', 'k3' : 'Mohammad'}
Friends

# 'k1' is a key and 'Amin' is its respective vakue

{'k1': 'Amin', 'k2': 'Majid', 'k3': 'Mohammad'}

In [39]:
Friends['k1']

'Amin'

In [40]:
# adding another key to our dictionary
Friends['k4'] = 'Sara'
Friends

{'k1': 'Amin', 'k2': 'Majid', 'k3': 'Mohammad', 'k4': 'Sara'}

In [41]:
# replacing one of our keys
Friends['k2'] = 'Mahsa'
Friends

{'k1': 'Amin', 'k2': 'Mahsa', 'k3': 'Mohammad', 'k4': 'Sara'}

In [42]:
# values in the form of lists

Univ = {'dep1' : 'Hadi', 'dep2' : ['Amin', 'Sara', 'Mahsa']}
Univ['dep2']

['Amin', 'Sara', 'Mahsa']

In [43]:
# making dictionaries step by step

Team = {}
Team['A'] = 'Amin'
Team['B'] = 'Behnam'
Team['C'] = 'Ahmad'
Team

{'A': 'Amin', 'B': 'Behnam', 'C': 'Ahmad'}

In [44]:
Team['B']

'Behnam'

In [45]:
Team.get('B')

'Behnam'

In [46]:
# .get method has some benefits
print(Team.get('D'))

None

# Iterations, for and while

In [1]:
# Iteration is the ability to execute a certain code repeatedly
even_number = [2, 4, 6, 8, 10, 12, 14, 16]

In [2]:
for x in even_number:
    print(x)

2
4
6
8
10
12
14
16

In [3]:
for x in even_number:
    print(x, end = ' ')

2 4 6 8 10 12 14 16

In [4]:
x = 0
while x <= 30:
    print(x, end = ' ')
    x = x + 2
    
# the last line is called 'incrementing (adding)'
# we can use of this syntax 'x += 2'
# Be very careful when you're writting loop codes. Because bad codes can CRASH your device.

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [5]:
# creating lists in Python with range() function
# range(start, stop, step) creates a sequence of integers
# stop > start > step. range(0 = by default, ?, 1 = by default)
range(1, 10)

range(1, 10)

In [6]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(3, 7))

[3, 4, 5, 6]

In [8]:
list(range(1, 19, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [9]:
# note that 'float' numbers cannot be used as a 'step'

In [11]:
# use of range() in for loops

for x in range(10):
    print(x, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [12]:
# mixing conditionals and for loops

for x in range(20):
    if x % 2 == 0:
        print('Even', end = ' ')
    else:
        print('Odd', end = ' ')

Even Odd Even Odd Even Odd Even Odd Even Odd Even Odd Even Odd Even Odd Even Odd Even Odd

In [13]:
# The following two loops are almost identical, but the second one is more professional
x = [0, 1, 2]
for item in x: 
    print(item, end = ' ')

0 1 2

In [14]:
for item in range(len(x)):
    print(x[item], end = ' ')

0 1 2

In [17]:
# loops in functions

def count_function(numbers):
    total = 0 # total here is called a 'rolling sum'
    for x in range(len(numbers)):
        if numbers[x] < 20:
            total += 1
    return total

# due to the third line we understand that numbers should be a list. So, inputs of this function are sequences
# dictionaries are not acceptable as an input for this function

In [18]:
list1 = [0, 1 , 3, 19, 56, 23, 20, 4]
count_function(list1)

5

In [19]:
count_function(range(10))

10

In [20]:
count_function([1, 2, 3])

3

In [22]:
# In Python 3, range() returns an immutable sequence type, 
# you need list(range(0, 2)) to get a list.
# Basically, the difference is that range(0, 2) is a generator function and
# list(range(0, 2)) is an actual list.
# when you need the entire list of data in your code, use the list method.

In [31]:
# iterate over dictionaries
# a situation for a customer in a market

Prices = {'Spaghetti' : 4, 'Lasagna' : 6, 'Hamburger' : 7}
Quantity = {'Spaghetti' : 3, 'Lasagna' : 2, 'Hamburger' : 5}

money_spend = 0

for i in Prices:
    money_spend = money_spend + (Prices[i] * Quantity[i])

print(money_spend)

59

# OOP, modules and packages

In [32]:
# OOP
# what is an object in Python?
# every value is a (logical) object. For instance, lists, floats, integers, ... are all object
# object = data + manipulation operation

# class
# each object belong to some class defining the rules for creating that object
# and we can attach a certain number of attributes to it

In [33]:
# 'Bike-Makers' Class
# Method: .turn_left(), .turn_right(), .slow_down(), .accelerate()
# Attributes: color, size, type

In [34]:
# 'List' Class
# Object (Instance): [15.9, 12.4, 64.0]
# Method: .extend(), .index()
# Attributes (Properties): type of data: floats

In [35]:
# Function VS. Method
# Function: can have many parameters, exists on its own, function()
# Method: the object is one of its parameters, belongs to a certain class, object.method()

In [1]:
# Modules versus Packages
# Pay attention that Package = Library
# A module is a set of pre-written codes containing variables, functions and classes
# A Package is a set containing of different appropriate modules

In [2]:
# 4 ways of importing Modules

import math

In [3]:
math.sqrt(16)

4.0

In [4]:
from math import sqrt
sqrt(16)

4.0

In [6]:
import math as m
int(m.sqrt(25))
# m here is called 'alias'

5

In [7]:
# this is the specialist favourable
from math import sqrt as s
s(36)

6.0

In [9]:
from math import *
int(sqrt(64))
# * means all
# * is a sign of unprofessional coding, Because sometimes it produces bad results
# Suppose that you import all methods from math.
# Also you import another module that contain .sqrt().
# Now if you apply .sqrt(), it's not clear that in which modules you want to apply .sqrt()
# So, be careful

8

In [10]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [11]:
help(sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.